@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin gap-x($value) {
  display: flex;
  column-gap: $value;
}

@mixin gap-y($value) {
  display: flex;
  flex-direction: column;
  row-gap: $value;
}
