$main: #42b883;
$secondary: #FDFDFD;
$background: #282C33;
$background-sec: #34495e;
$gray:#ABB2BF;
$background-btn-hover:rgba(199, 120, 221, 0.20);
$background-btn-secondary-hover:rgba(171, 178, 191, 0.20)
