h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

// This selector is used in the root div of all pages in the app
body {
  background: #282C33;
}

html {
  font-size: 10px; /* Đặt 1rem = 10px */
}
.max-width {
  max-width: 1024px;
  margin: 0 auto;
}

/* Tùy chỉnh thanh cuộn dọc */
::-webkit-scrollbar {
  width: 6px; /* Chiều rộng của thanh cuộn dọc */
}

::-webkit-scrollbar-track {
  background: #282C33; /* Màu nền của track */
}

::-webkit-scrollbar-thumb {
  background: #42b883; /* Màu của phần cuộn */
  border-radius: 5px; /* Bo góc cho phần cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background: #55b088; /* Màu khi hover qua phần cuộn */
}
